body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    color: #333;
  }
  
  header {
    background-color: #4caf50;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  main {
    margin: 20px auto;
    max-width: 600px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .actividad p {
    font-size: 1.2em;
  }
  
  button {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1em;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #resultado-vocales {
    margin-top: 10px;
    font-weight: bold;
  }
  /* trimestre_style.css */
body.theme-primaria {
  background-color: #f0f8ff;
  font-family: 'Poppins', sans-serif;
}

.theme-navbar {
  background-color: #003366;
}

.theme-navbar .nav-link {
  color: #ffffff;
}

.theme-primaria .card {
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

footer {
  background-color: #003366;
  color: #ffffff;
}

footer p {
  margin: 0;
}
